<main class="main-site">
    <section class="section section-shaped">
    </section>

    <section class="section section-shaped bg-secondary">
        <div class="container">
            <div class="card card-profile shadow">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="card-profile-image">
                                <a href="javascript:void(0)">
                                    <img src="https://picsum.photos/200" width="300" class="rounded-circle">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Caçadores do Leão </h3>
                        <h5>Associação de Promoção e Desenvolvimento Social Novo Mundo</h5>
                        <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Rua Santa Rita - Santa Rita,
                            Curvelo - MG, Brasil</div>
                        <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>01/12/2020</div>
                        <div><i class="ni education_hat mr-2"></i>Valor: Gratuito</div>
                        <div><i class="ni education_hat mr-2"></i>Participação: Livre</div>
                    </div>
                    <div class="py-5 text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <p>
                                    Esta atividade é de extrema importância, pois ela melhorará nossa saúde financeira e
                                    assim podemos continuar cumprindo nosso propósito. Você pode apoiar realizando
                                    ligações, reuniões, e-mails com possíveis doadores. Queremos ampliar nossos contatos
                                    e nossas fontes de captação de renda.
                                </p>
                                <div class="card-profile-actions py-4 mt-lg-0">
                                    <a href="javascript:void(0)" class="btn btn-sm mr-4 btn-candidatar">Candidatar como
                                        voluntário</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-top py-5 text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <h5>Sobre a Instituição</h5>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div>
                                            <a href="javascript:void(0)">
                                                <img src="./assets/img/francoAmor/instituicao.png"
                                                    class="rounded-circle" style="width: 100px;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <p><b>Associação de Promoção e desenvolvimento Social Novo Mundo</b></p>
                                        <p>
                                            A Associação de Promoção e desenvolvimento Social Novo Mundo fundada em 29
                                            dezembro de 2015, CNPJ – 24.038.615/0001-75, e reconhecida de utilidade
                                            Pública Municipal (lei nº 2.729/2016), CMDCA- Sob o nº063/2016, e CAGEC nº
                                            CRC 19009.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>