<main>
  <section class="section section-shaped">

  </section>

  <section class="section section-shaped bg-secondary">
    <div class="container pt-lg-md">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/francoAmor/francoamorlogo.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <h3>Sobre nós</h3>

            <p>O Franco Amor é uma plataforma que fala sobre saúde mental de forma responsável e oferece a oportunidade
              de apoio, pois quem quer ajudar hoje também poderá precisar de ajuda amanhã.</p>

            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Instituição</h6>
                    <p>Se você faz parte de uma <b>Instituiçao</b>, poderá encontrar aqui voluntários alinhados com sua
                      causa
                      social e que entendem o impacto que o voluntário causa no mundo.</p>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Buscando ajuda</h6>
                    <p>Se você está <b>buscando ajuda</b>, temos aqui uma lista dos canais de suporte mais pŕoximos de
                      você.</p>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-warning mr-3">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Voluntariado</h6>
                    <p>Se você sente que chegou na hora de retribuir, temos aqui <b>vagas de voluntariado</b> para que
                      você
                      possa colocar as mãos na massa e fazer parte de algo maior.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <h1>+25</h1>
                  </div>
                  <h6 class="text-primary text-uppercase">Vagas disponiveis</h6>
                  <p class="description mt-3">Oportunidade de fazer o bem para quem mais precisa.</p>

                  <a href="#" class="btn btn-primary mt-4">Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <h1>+10</h1>
                  </div>
                  <h6 class="text-success text-uppercase">Canais de suporte</h6>
                  <p class="description mt-3">Para que você entre em contato agora mesmo.</p>

                  <a href="javascript:void(0)" class="btn btn-success mt-4">Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <h1>+130</h1>
                  </div>
                  <h6 class="text-warning text-uppercase">Pessoas impactadas</h6>
                  <p class="description mt-3">Através de um simples cadastro em nossa plataforma.</p>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="card bg-gradient-success shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">Panfleto de divulgação</h3>
              <p class="lead text-white mt-3">Baixe aqui o pdf para divulgação.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a class="btn btn-lg btn-block btn-white">Download PDF</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>