main {
    /* The image used */
  background-color: #cccccc;
  background-image: url("../../assets/img/francoAmor/francoamorsite2.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-size:18px;
}

.icon{
  margin:1em;
}