<main class="main-admin">
    <section class="section section-shaped"> </section>

    <section class="section section-shaped bg-secondary">
        <div class="container pt-lg-md">
            <h3>Manter Produto</h3>
            <hr>

            <form>

            </form>

            <hr>
            <div class="rodape">
                <button type="button" class="btn btn-outline-light btnVoltar" (click)="voltar()">Voltar</button>
                <button type="button" class="btn btn-outline-success btnSalvar" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </section>
</main>