<main>
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container pt-lg-md">
                <h3>{{titulo}}</h3>
                <hr>

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input name="nome-produto" [(ngModel)]="produtoDTO.nome" type="text"
                                    class="form-control" id="nome" placeholder="Nome do produto">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea class="form-control" id="descricao" rows="3" name="descricao-produto"
                                    [(ngModel)]="produtoDTO.descricao" placeholder="Descrição do produto"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Valor</label>
                                <input name="valor-produto" [(ngModel)]="produtoDTO.valor" type="text"
                                    class="form-control" id="valor" placeholder="Valor (R$)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estoque disponível</label>
                                <input name="estoque-produto" [(ngModel)]="produtoDTO.estoque" type="number"
                                    class="form-control" id="estoque" placeholder="Estoque">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-3" style="margin: 0 auto;">
                            <button class="btn btn-block btn-outline-primary mb-3" (click)="openModal(classic)">
                                Selecionar imagens
                            </button>
                        </div>
                    </div>

                    <hr>
                    <div class="rodape">
                        <button type="button" class="btn btn-outline-light btnVoltar"
                            (click)="voltarParaTab('produtos')">Voltar</button>

                        <button type="button" class="btn btn-outline-warning" (click)="relatarProblema(titulo)">Relatar
                            problema ou dúvida</button>

                        <button type="button" name="salvar" class="btn btn-outline-success btnSalvar"
                            (click)="salvar()">Salvar e {{titulo}}</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

<!-- Modal Imagens -->
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Selecionar imagens</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
            </angular-file-uploader> -->
        </div>
    </div>
</ng-template>