<section class="section g-secondary">
    <div class="container">

        <div class="row" style="display: flow-root;">
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novaInstituicao()">
                <i class="ni ni-fat-add"></i> Instituição</button>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" [(ngModel)]="filtro.nome" class="form-control" id="nome"
                        placeholder="Nome da instituição">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>CNPJ</label>
                    <input type="text" [textMask]="{mask: cnpjMask}" class="form-control" id="cnpj" name="cnpj"
                        [(ngModel)]="filtro.cnpj" placeholder="CNPJ da instituição">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                        [(ngModel)]="filtro.cidade">
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 2rem;">
                <button class="btn btn-icon btn-2 btn-outline-light" type="button" (click)="filtrar()">
                    <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col"></th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody style="height: 30em !important;">
                    <tr *ngFor="let item of instituticoes; let i = index">
                        <td>{{ item?.nome }}</td>
                        <td>{{ item?.cnpj }}</td>
                        <td>{{ item?.cidade }}</td>
                        <td>{{ item?.email }}</td>
                        <td>{{ item?.telefone }}</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="ativoSwitch{{i}}"
                                    [(ngModel)]="item.ativo">
                                <label class="custom-control-label" for="ativoSwitch{{i}}">{{item.ativo?
                                    'Ativo':'Inativo'}}</label>
                            </div>
                        </td>
                        <td class="btn-editar"><a (click)="irParaManterInst(item)"><i
                                    class="ni ni-settings-gear-65"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</section>