<main class="main-site">
    <section class="section section-shaped">

    </section>

    <section class="section section-shaped bg-secondary">
        <div class="container">

            <h4>PRECISO DE AJUDA</h4>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" id="tipo" name='tipo' [(ngModel)]="tipo">
                            <option value=null>Selecione</option>
                            <option value='evento'>Evento</option>
                            <option value='presencial'>Presencial</option>
                            <option value='telefonico'>Telefônico</option>
                            <option value='virtual'>Virtual</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome da atividade/evento">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Instituição</label>
                        <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                            [(ngModel)]="cidade">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button class="btn btn-icon btn-2 btn-outline-light" type="button">
                        <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>

            <div *ngIf="telefonicos.length>0">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="header">
                            ATENDIMENTO TELEFÔNICO
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of telefonicos; let i = index">
                        <div class="flip-card" (click)="irParaVejaMais()">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                                    <h4>{{item.nome}}</h4>
                                    <h5>{{item.telefone}}</h5>
                                </div>
                                <div class="flip-card-back">
                                    <h5>Horario:</h5>
                                    <h6 *ngFor="let hr of item.horaAtendimento">{{hr.diaSemana}}: {{hr.horaInicio}} -
                                        {{hr.horaFim}}</h6>
                                    <p class="resumo-card">{{item.observacao}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="presenciais.length>0">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="header">
                            ATENDIMENTO PRESENCIAL
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of presenciais; let i = index">
                        <div class="flip-card" (click)="irParaVejaMais()">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                                    <!-- <span class="badge badge-primary" routerLink="../quero-ajudar">Vaga para
                                    voluntários</span> -->
                                    <h4>{{item.nome}}</h4>
                                    <h5>Juiz de Fora</h5>
                                </div>
                                <div class="flip-card-back">
                                    <h5>Horario:</h5>
                                    <h6 *ngFor="let hr of item.horaAtendimento">{{hr.diaSemana}}: {{hr.horaInicio}} -
                                        {{hr.horaFim}}</h6>
                                    <p class="resumo-card">{{item.observacao}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="virtuais.length>0">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="header">
                            ATENDIMENTO VIRTUAL
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of virtuais; let i = index">
                        <div class="flip-card" (click)="irParaVejaMais()">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                                    <h4>{{item.nome}}</h4>
                                    <h5>ASCOMSER</h5>
                                </div>
                                <div class="flip-card-back">
                                    <h5>Horario:</h5>
                                    <h6 *ngFor="let hr of item.horaAtendimento">{{hr.diaSemana}}: {{hr.horaInicio}} -
                                        {{hr.horaFim}}</h6>
                                    <p class="resumo-card">{{item.observacao}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="eventos.length>0">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="header">
                            EVENTOS
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of eventos; let i = index">
                        <div class="flip-card" (click)="irParaVejaMais()">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                                    <h4>{{item.nome}}</h4>
                                    <h5>São Paulo</h5>
                                    <h6>10/11/2021 - 19:00</h6>
                                </div>
                                <div class="flip-card-back">
                                    <p class="resumo-card">{{item.observacao}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>