<main class="main-site">
    <section class="section section-shaped">

    </section>

    <!-- FILTRO -->
    <section class="section section-shaped bg-secondary">
        <div class="container">

            <h3>PRECISO DE AJUDA</h3>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" id="tipo" name='tipo' [(ngModel)]="tipo">
                            <option value=null>Selecione</option>
                            <option value='evento'>Evento</option>
                            <option value='presencial'>Presencial</option>
                            <option value='telefonico'>Telefônico</option>
                            <option value='virtual'>Virtual</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome da atividade/evento">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Instituição</label>
                        <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                            [(ngModel)]="cidade">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button class="btn btn-icon btn-2 btn-outline-light" type="button">
                        <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- TELEFONICO -->
    <section class="section bg-secondary" *ngIf="telefonicos.length > 0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <h3>ATENDIMENTO TELEFÔNICO</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 20px" *ngFor="let item of telefonicos; let i = index">
                    <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                            <div class="rounded-circle mb-4">
                                <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                            </div>
                            <h6 class="text-primary text-uppercase">{{item.nome}}</h6>
                            <p class="description mt-3">{{item.observacao}}</p>
                            <div>
                                <span class="badge badge-pill badge-primary">{{item.telefone}}</span>
                                <span class="badge badge-pill badge-secondary">{{item.cidade}}</span>
                                <span class="badge badge-pill badge-primary">creative</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4"
                                (click)="irParaVejaMais(item)">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PRESENCIAL -->
    <section class="section bg-secondary" *ngIf="presenciais.length > 0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <h3>ATENDIMENTO PRESENCIAL</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 20px" *ngFor="let item of presenciais; let i = index">
                    <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                            <div class="rounded-circle mb-4">
                                <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                            </div>
                            <h6 class="text-primary text-uppercase">{{item.nome}}</h6>
                            <p class="description mt-3">{{item.observacao}}</p>
                            <div>
                                <span class="badge badge-pill badge-primary">{{item.telefone}}</span>
                                <span class="badge badge-pill badge-secondary">{{item.cidade}}</span>
                                <span class="badge badge-pill badge-primary">creative</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4"
                                (click)="irParaVejaMais(item)">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- VIRTUAL -->
    <section class="section bg-secondary" *ngIf="virtuais.length > 0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <h3>ATENDIMENTO VIRTUAL</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 20px" *ngFor="let item of virtuais; let i = index">
                    <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                            <div class="rounded-circle mb-4">
                                <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                            </div>
                            <h6 class="text-primary text-uppercase">{{item.nome}}</h6>
                            <p class="description mt-3">{{item.observacao}}</p>
                            <div>
                                <span class="badge badge-pill badge-primary">{{item.telefone}}</span>
                                <span class="badge badge-pill badge-secondary">{{item.cidade}}</span>
                                <span class="badge badge-pill badge-primary">creative</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4"
                                (click)="irParaVejaMais(item)">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- EVENTOS -->
    <section class="section bg-secondary" *ngIf="eventos.length > 0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <h3>EVENTOS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 20px" *ngFor="let item of eventos; let i = index">
                    <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                            <div class="rounded-circle mb-4">
                                <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                            </div>
                            <h6 class="text-primary text-uppercase">{{item.nome}}</h6>
                            <p class="description mt-3">{{item.observacao}}</p>
                            <div>
                                <span class="badge badge-pill badge-primary">{{item.telefone}}</span>
                                <span class="badge badge-pill badge-secondary">{{item.cidade}}</span>
                                <span class="badge badge-pill badge-primary">creative</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4"
                                (click)="irParaVejaMais(item)">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>