// Cards

.card{
  position: relative;
  text-align: center;
  border-bottom: 1px solid lightblue;
}

.card-header{
  background-color: lightblue;
  font-size: larger;
}

.badge-primary {
  color: white;
  background-color: darkred;
  margin-top: -20px;
  cursor: pointer;
}

.btn-outline-info{
  margin:0 auto;
}