<main class="main-site">
    <section class="section section-shaped section-lg">
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card bg-secondary shadow border-0 rounded-50px">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-1">Faq</h4>
                            <p>COMO FAÇO PARA CADASTRAR MAIS DE UMA AÇÃO SOCIAL?</p>
                            <p>COMO FAÇO PARA CADASTRAR MAIS DE UMA ATIVIDADE OU ATENDIMENTO? </p>
                            <p>ESTE SERVIÇO É PAGO?</p>
                            <p>EU COBRO UM VALOR SOCIAL PARA A REALIZAÇÃO DO MEU ATENDIMENTO, ESSE VALOR VAI APARECER NA
                                DIVULGAÇÃO?</p>
                            <p>COMO FAÇO PARA EDITAR MEUS DADOS? </p>
                            <p>PERDI MINHA SENHA, COMO FAÇO PARA RECUPERAR?</p>
                            <p>O QUE É UM TRABALHO VOLUNTÁRIO?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>