<main class="main-site">
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>Perguntas Frequentes</h4>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">POSSO CADASTRAR MAIS DE UMA AÇÃO SOCIAL?</h5>
                                            <p>Sim. Pessoas físicas e pessoas jurídicas podem divulgar suas ações
                                                sociais quantas vezes desejarem, observando a natureza da sua atividade
                                                para preencher o cadastro corretamente. Ver mais em <a
                                                    routerLink="/cadastre-acao">CADASTRE SUA AÇÃO
                                                    SOCIAL</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">COMO FAÇO PARA CADASTRAR EM MAIS UM SERVIÇO?
                                            </h5>
                                            <p>Após realizar o cadastro da pessoa física ou jurídica no nosso site, você
                                                tem a opção de clicar no botão "Salvar e cadastrar ação social". Se já
                                                for cadastrado e deseja cadastrar outro serviço, vá em <a
                                                    routerLink="/cadastre-acao">CADASTRE SUA AÇÃO SOCIAL</a> e escolha o
                                                tipo de serviço que se enquadra a sua
                                                atividade/atendimento.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">ESTE SERVIÇO É PAGO?
                                            </h5>
                                            <p>Não. Pessoas físicas e pessoas jurídicas que desejam divulgar suas ações
                                                sociais que tenham impacto na saúde mental podem cadastrar,
                                                gratuitamente, suas atividades. O Franco Amor é um projeto social que
                                                divulga, apenas, os serviços gratuitos ou com preço social. A gratuidade
                                                para a divulgação de eventos é garantida para aqueles que são
                                                disponibilizados gratuitamente. Ver mais em <a
                                                    routerLink="/cadastre-acao">CADASTRE SUA AÇÃO SOCIAL</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">EU COBRO, PELO MEU SERVIÇO, UM PREÇO SOCIAL
                                                PARA A REALIZAÇÃO DO ATENDIMENTO/ATIVIDADE, ESSE VALOR VAI APARECER NA
                                                DIVULGAÇÃO?
                                            </h5>
                                            <p>Não. Está informação é solicitada no cadastro do serviço a ser divulgado
                                                e serve para tornar conhecido e controle da administração do Franco
                                                Amor, pois este site se destina a serviços gratuitos ou com preço
                                                social.
                                                No caso da divulgação dos eventos, o valor será divulgado quando houver
                                                taxa de inscrição.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">COMO FAÇO PARA EDITAR MEUS DADOS?
                                            </h5>
                                            <p>Você deve fazer <a routerLink="/login">LOGIN</a> com o e-mail e senha
                                                cadastrados e editar seus dados.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">PERDI MINHA SENHA, COMO FAÇO PARA RECUPERAR?
                                            </h5>
                                            <p>Você deve ir para a tela de <a routerLink="/login">LOGIN</a>, clicar no
                                                botão "Esqueceu a senha?" e informar o e-mail cadastrado. Você receberá
                                                um e-mail com as informações necessárias para alterar sua senha.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-5">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div class="pl-4">
                                            <h5 class="title text-success">O QUE É UM TRABALHO VOLUNTÁRIO?
                                            </h5>
                                            <p>O trabalho voluntário é definido pela <a
                                                href="https://www.planalto.gov.br/ccivil_03/leis/l9608.htm"
                                                target="_blank">LEI Nº 9.608, DE 18 DE FEVEREIRO DE 1998</a> como a atividade
                                                não remunerada prestada por pessoa física a entidade pública de qualquer
                                                natureza, ou a instituição privada de fins não lucrativos, que tenha
                                                objetivos cívicos, culturais, educacionais, científicos, recreativos ou
                                                de assistência social, inclusive mutualidade.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>