<main>
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container pt-lg-md">
                <h3>Manter Postagem</h3>
                <hr>

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Título</label>
                                <input name="titulo-postagem" [(ngModel)]="criarPostagemDTO.titulo" type="text"
                                    class="form-control" id="titulo" placeholder="Título da postagem">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Autor</label>
                                <input name="auto-postagem" [(ngModel)]="criarPostagemDTO.autor" type="text"
                                    class="form-control" id="autor" placeholder="Autor da postagem">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Link para Autor</label>
                                <input type="text" class="form-control" id="link" name="link-autor-postagem"
                                    [(ngModel)]="criarPostagemDTO.linkAutor"
                                    placeholder="Instagram, Facebook, LinkedIn ou outro">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Categoria</label>
                                <select class="form-control" id="categoria" name='categoria'
                                    [(ngModel)]="criarPostagemDTO.categoriaID">
                                    <option value=null>Selecione</option>
                                    <option value='1'>Autoconhecimento</option>
                                    <option value='2'>Cultura</option>
                                    <option value='3'>Meio Ambiente</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Conteúdo da postagem</label>
                                <textarea class="form-control" id="corpo" rows="10" name="conteudo-postagem"
                                    [(ngModel)]="criarPostagemDTO.conteudo"
                                    placeholder="Conteúdo da postagem"></textarea>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-3" style="margin: 0 auto;">
                            <button class="btn btn-block btn-outline-primary mb-3" (click)="openModal(classic)">
                                Selecionar imagem
                            </button>
                        </div>
                    </div>

                    <hr>
                    <div class="rodape">
                        <button type="button" class="btn btn-outline-light btnVoltar" (click)="voltar()">Voltar</button>
                        <button type="button" class="btn btn-outline-success btnSalvar"
                            (click)="salvar()">Salvar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

<!-- Modal Imagem -->
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Selecionar imagem</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
            </angular-file-uploader> -->
        </div>
    </div>
</ng-template>