<main class="main-site">
    <div class="position-relative">
 
      <section class="section section-shaped">

      </section>
  
      <section class="section section-shaped bg-secondary">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2">
              <img src="./assets/img/francoAmor/francoamorlogo.png" class="img-fluid floating">
            </div>
            <div class="col-md-6 order-md-1">
              <div class="pr-md-5">
                <h3>Sobre nós</h3>
  
                <p>O Franco Amor é uma plataforma voltada para a saúde mental e qualidade de vida. Divulgamos os canais de
                  apoio e acolhimento emocional para quem precisa de ajuda e anunciamos as vagas de voluntariado nesses
                  mesmos projetos.
                </p>
  
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-success mr-3">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Buscando ajuda</h6>
                        <p>Se você está <b>PRECISANDO DE AJUDA</b>, temos aqui uma lista dos canais de suporte que
                          oferecem apoio emocional gratuitamente ou à preço social.</p>
                      </div>
                    </div>
                  </li>
  
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-warning mr-3">
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Voluntariado</h6>
                        <p>Se você <b>QUER AJUDAR</b>, se engajando em uma ação social que faz parte da rede de ajuda
                          do site Franco Amor, pode escolher uma opção de voluntariado com o seu perfil.</p>
                      </div>
                    </div>
                  </li>
  
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-primary mr-3">
                          <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Instituição</h6>
                        <p>Organizações, movimentos sociais e indivíduos que realizam ações sociais voltadas para o apoio
                          emocional, saúde mental e qualidade de vida poderão divulgar, gratuitamente, <b>VAGAS DE
                            VOLUNTARIADO</b> para contribuir e fortalecer com o seu projeto</p>
                      </div>
                    </div>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="section">
        <div class="container">
          <div class="card bg-gradient-success shadow-lg border-0">
            <div class="p-5">
              <div class="row align-items-center">
                <div class="col-lg-8">
                  <h3 class="text-white">Panfleto de divulgação</h3>
                  <p class="lead text-white mt-3">Baixe aqui o pdf para divulgação.</p>
                </div>
                <div class="col-lg-3 ml-lg-auto">
                  <a class="btn btn-lg btn-block btn-white">Download PDF</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>