<main class="main-site">
  <div class="position-relative">
    <section class="section section-shaped">

      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>

      <div class="container"></div>
    </section>

    <section class="section section-shaped bg-secondary">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-4 order-md-2">
            <img src="./assets/img/francoAmor/francoamorlogo.png" class="img-fluid floating">
          </div>
          <div class="col-md-8 order-md-1">
            <div class="pr-md-5" style="text-align: justify;">
              <h4>Olá, nós somos o Franco Amor!</h4>

              <p>O Franco Amor é um projeto social que tem como objetivo divulgar os serviços em prol da saúde mental e
                qualidade de vida que são oferecidos gratuitamente ou com preço social. Divulgamos canais de apoio e
                acolhimento emocional para quem precisa de ajuda e anunciamos vagas de voluntariado nesses mesmos
                projetos.
              </p>

              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-success rounded-circle">
                        <i class="fa fa-phone"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-success">BUSCANDO AJUDA</h5>
                      <p>Se você está <a routerLink="/procuro-ajuda">PRECISANDO DE AJUDA</a>, temos aqui uma lista dos
                        canais de suporte que oferecem apoio emocional gratuitamente ou à preço social.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle">
                        <i class="fa fa-users"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">AJUDANDO</h5>
                      <p class="lead">AÇÕES SOCIAIS</p>
                      <p>Organizações, movimentos sociais e indivíduos que realizam ações sociais voltadas para o apoio
                        emocional, saúde mental e qualidade de vida poderão cadastrar, gratuitamente, <a
                          routerLink="/listar-atendimentos-atividades">VAGAS DE VOLUNTARIADO</a> para contribuir e
                        fortalecer o seu projeto.</p>
                      <hr>
                      <p class="lead">VOLUNTARIADO</p>
                      <p>Se você <a routerLink="/lista-atividades">QUER AJUDAR</a>, temos um leque de opções com ações
                        sociais sendo desenvolvida em todo o Brasil. Encontre a sua e se engaje. Tem alguém esperando a
                        sua ajuda.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-gradient-default">
      <div class="container">
        <div class="card shadow-lg border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="">Panfleto de divulgação</h3>
                <p class="lead mt-3">Baixe aqui o pdf para divulgação.</p>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <a class="btn btn-lg btn-secondary">Download PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</main>