p,
li {
    font-size: 1.2rem;
}

h4 {
    color: #3b5999;
}

a {
    color: #009688;
    font-weight: 400;
}

.bg-gradient-success {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}