<main>
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="'instituicoes'">
                        <a ngbNavLink>Instituições</a>
                        <ng-template ngbNavContent>
                            <app-listar-instituicao></app-listar-instituicao>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'atendimentos'">
                        <a ngbNavLink>Atendimentos/Atividades</a>
                        <ng-template ngbNavContent>
                            <app-listar-atendimentos-atividades></app-listar-atendimentos-atividades>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'postagens'">
                        <a ngbNavLink>Postagens</a>
                        <ng-template ngbNavContent>
                            <app-listar-postagem></app-listar-postagem>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'produtos'">
                        <a ngbNavLink>Produtos</a>
                        <ng-template ngbNavContent>
                            <app-listar-produto></app-listar-produto>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </section>
    </div>
</main>