<main class="main-admin">
    <section class="section section-shaped"> </section>

    <section class="section section-shaped bg-secondary">
        <div class="container">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Instituições</a>
                    <ng-template ngbNavContent>
                        <app-listar-instituicao></app-listar-instituicao>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Atendimentos/Atividades</a>
                    <ng-template ngbNavContent>
                        <app-listar-atendimentos-atividades></app-listar-atendimentos-atividades>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Voluntários</a>
                    <ng-template ngbNavContent>
                        <app-listar-voluntario></app-listar-voluntario>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Postagens</a>
                    <ng-template ngbNavContent>
                        <app-listar-postagem></app-listar-postagem>
                    </ng-template>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink>Produtos</a>
                    <ng-template ngbNavContent>
                        <app-listar-produto></app-listar-produto>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </section>
</main>