<div class="social-medias">
  <ul class="flex justify-content-end px-4">
    <li class="text-2xl mr-2"><a class="social-medias-icon"  target="__blank" href="https://www.facebook.com/projetofrancoamor/">
        <i class="fa fa-facebook"></i>
      </a></li>

    <li class="text-2xl mr-2"><a class="social-medias-icon" target="__blank" href="https://www.instagram.com/projetofrancoamor/">
        <i class="fa fa-instagram"></i>
      </a>
    </li>

    <li class="text-2xl"><a class="social-medias-icon" target="__blank" href="https://www.youtube.com/channel/UC2ZLTKtGh74ZBszfBnWwJKg">
        <i class="fa fa-youtube"></i>
      </a></li>
  </ul>
</div>

<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent">
  <div class="container">
    <a class="navbar-brand mr-lg-5 menu" routerLink="./home">
      <img src="../../../assets/img/francoAmor/francoamorlogo.png"> Franco Amor
    </a>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret menu" data-toggle="dropdown" role="button" routerLink="./quem-somos">
            Quem somos
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret menu" data-toggle="dropdown" role="button" routerLink="./cadastre-acao">
            Cadastre sua ação social
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret menu" data-toggle="dropdown" role="button" routerLink="./blog">
            Blog
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret menu" data-toggle="dropdown" role="button" routerLink="./faq">
            Ajuda
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret menu" data-toggle="dropdown" role="button" routerLink="./login"  >
            <!-- {{ status }} -->
            | Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>