.social-medias {
    background-color: #3b5999;
}

.social-medias-icon{
    color: white !important;
}

nav{
    font-family: 'Quicksand', sans-serif !important;
}

a.menu{
    color:#3b5999 !important;
}

.flex {
    display: -webkit-box !important;
    display: flex !important;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mr-2 {
    margin-right: 8px;
}

.text-2xl {
    font-size: 1.5rem !important;
}

navbar_global{
    padding-top: 18px;
}

.navbar-main{
    margin-top: 30px;
}
