<section class="section section-shaped bg-secondary">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-success btnNovo" (click)="novoEvento()"
                    [ngbTooltip]="tooltipEvento">
                    <i class="ni ni-fat-add"></i> Evento</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-success btnNovo" (click)="novoTelefonico()"
                    [ngbTooltip]="tooltipTelefonico">
                    <i class="ni ni-fat-add"></i> Telefônico</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-success btnNovo" (click)="novoVirtual()"
                    [ngbTooltip]="tooltipVirtual">
                    <i class="ni ni-fat-add"></i> Virtual</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-success btnNovo" (click)="novoPresencial()"
                    [ngbTooltip]="tooltipPresencial">
                    <i class="ni ni-fat-add"></i> Presencial</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome da atividade/evento" name="nome"
                        [(ngModel)]="atividade">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Instituição</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável"
                        name="instituicao" [(ngModel)]="instituicao">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Cidade</label>
                    <select class="form-control" id="cidade" name='cidade' [(ngModel)]="cidade">
                        <option value=null>Todos</option>
                        <option *ngFor="let cidade of cidadesFiltro" [ngValue]="cidade">{{cidade}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" id="tipo" name='tipo' [(ngModel)]="tipo">
                        <option value=null>Todos</option>
                        <option value='atividade'>Atividade</option>
                        <option value='evento'>Evento</option>
                        <option value='presencial'>Presencial</option>
                        <option value='telefonico'>Telefônico</option>
                        <option value='virtual'>Virtual</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 2rem;">
                <button class="btn btn-icon btn-2 btn-outline-light" type="button" (click)="filtrar()">
                    <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Abrangencia/Cidade</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of atividades; let i = index">
                    <td>{{item?.nome}}</td>
                    <td>{{item?.instituicao}}</td>
                    <td>{{item?.cidade}}</td>
                    <td>{{item?.type}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ativoSwitch{{i}}"
                                [(ngModel)]="item.ativo" (click)="atualizarStatus(item)">
                            <label class="custom-control-label" for="ativoSwitch{{i}}">{{item.ativo?
                                'Ativo':'Inativo'}}</label>
                        </div>
                    </td>
                    <td class="btn-editar"><a (click)="irParaManterAtendimentos(item)"><i
                                class="ni ni-settings-gear-65"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</section>