<section class="section section-shaped bg-secondary">
    <div class="container">

        <div class="row" style="display: flow-root;">
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novoEvento()">
                <i class="ni ni-fat-add"></i> Evento</button>
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novoTelefonico()">
                <i class="ni ni-fat-add"></i> Telefônico</button>
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novoVirtual()">
                <i class="ni ni-fat-add"></i> Virtual</button>
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novoPresencial()">
                <i class="ni ni-fat-add"></i> Presencial</button>
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novaAtividade()">
                <i class="ni ni-fat-add"></i> Atividade</button>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome da atividade/evento">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Instituição</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                        [(ngModel)]="cidade">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" id="tipo" name='tipo' [(ngModel)]="tipo">
                        <option value=null>Selecione</option>
                        <option value='atividade'>Atividade</option>
                        <option value='evento'>Evento</option>
                        <option value='presencial'>Presencial</option>
                        <option value='telefonico'>Telefônico</option>
                        <option value='virtual'>Virtual</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 2rem;">
                <button class="btn btn-icon btn-2 btn-outline-light" type="button">
                    <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of atividades">
                    <td>{{item?.nome}}</td>
                    <td>{{item?.instituicao}}</td>
                    <td>{{item?.cidade}}</td>
                    <td>{{item?.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>