.slogan {
    margin-top: 50px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: #D3E8FC;
    text-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
    font-size: xxx-large;
  }