<main class="main-site">
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">

      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
              <div class="btn-wrapper mt-10">

                <a routerLink="/procuro-ajuda" class="btn btn-lg btn-facebook btn-icon mb-5 mb-sm-0 btn-card-home">
                  <span class="btn-inner--icon"><i class="fa fa-phone icon-card-home" aria-hidden="true"></i></span>
                  <br><br>
                  <span class="btn-inner--text titulo-card-home">PRECISO DE AJUDA</span><br>
                  <span class="text-card-home">Encontre uma forma de ser ajudado</span>
                </a>

                <a routerLink="/quero-ajudar" class="btn btn-lg btn-slack btn-icon mb-5 mb-sm-0 btn-card-home">
                  <span class="btn-inner--icon"><i class="fa fa-calendar-check-o icon-card-home"
                      aria-hidden="true"></i></span>
                  <br><br>
                  <span class="btn-inner--text titulo-card-home">QUERO AJUDAR</span><br>
                  <span class="text-card-home">Quero ser um voluntário, auxiliando quem ajuda</span>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <p>Somos uma rede de afeto, conte conosco!</p>
  </div>
</main>