<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped tela-cheia">

      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>

      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">


          <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
              <div class="card card-lift--hover shadow border-0" style="border-radius: 25px !important;">
                <a routerLink="/procuro-ajuda" title="Procuro ajuda">
                  <img src="./assets/img/francoAmor/1.svg" class="card-img" style="border-radius: 25px !important;">
                </a>
              </div>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0">
              <div class="card card-lift--hover shadow border-0" style="border-radius: 25px !important;">
                <a routerLink="/lista-atividades" title="Quero ajudar">
                  <img src="./assets/img/francoAmor/2.svg" class="card-img" style="border-radius: 25px !important;">
                </a>
              </div>
            </div>
          </div>

          <div class="row align-items-center justify-content-center">
            <h1 class="slogan">Somos uma rede de afeto, conte conosco!</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>