<main class="main-site">
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-8 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>Saiba como apoiar o Franco Amor</h4>

                            <p class="lead">O Franco Amor é um projeto social que tem como objetivo divulgar serviços gratuitos ou
                                disponibilizados com preço social que promovam a saúde mental e qualidade de vida para
                                todos.
                            </p>

                            <ul>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Nos seguindo nas redes sociais e compartilhando com seus amigos :)</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Compartilhando o conteúdo do site com quem precisa de ajuda :)
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Sendo um voluntário do Franco Amor :)</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Contribuindo financeiramente ou sendo nosso parceiro :)</h6>
                                            <small>Entre em contato para saber como pode contribuir.</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>