<main class="main-site">
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <!-- CADASTRE SUA ACAO -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>Faça parte do Franco Amor!</h4>

                            <p>O Franco Amor tem como objetivo reunir e divulgar as ações que realizam algum tipo de
                                atendimento social voltado para a saúde mental e qualidade de vida que acolhem
                                emocionalmente pessoas que precisam de apoio em momentos de desafio na vida. E queremos
                                apoiar seu projeto, anunciando as vagas de voluntariado que você precisa para aumentar a
                                rede do
                                bem e de afeto.
                            </p>

                            <p class="lead">Cadastre sua ação social de apoio à saúde mental, aumentando a chance de ser
                                encontrado por quem precisa de ajuda e anuncie as vagas de voluntários para fortalecer
                                seu projeto!</p>

                        </div>

                        <div class="btn-wrapper text-center">
                            <a routerLink="../registro" class="btn btn-primary mb-3 mb-sm-0 text-white">CADASTRE AQUI
                                SUA AÇÃO
                                SOCIAL OU EVENTO</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PLATAFORMA GRATUITA -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>PLATAFORMA GRATUITA</h4>
                            <ul>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Cadastre seus projetos que são oferecidos gratuitamente ou
                                                a preço social*</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Anuncie seu evento**</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Cadastre suas vagas de voluntariado para ajudar seu projeto
                                                a auxiliar mais pessoas</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Cadastre sem limite todas as suas ações / atendimentos e
                                                vagas de voluntariado</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TIPOS DE CADASTRO -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>TIPOS DE CADASTRO</h4>

                            <p class="lead">Escolha a melhor forma de divulgar de acordo com o canal de atendimento
                                utilizado</p>

                            <div class="card shadow shadow-lg--hover mt-2">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div>
                                            <div class="icon icon-shape bg-gradient-success rounded-circle">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h5 class="title text-success">Atendimento Telefônico</h5>
                                            <p>Serviço de acolhimento emocional por telefone</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-2">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div>
                                            <div class="icon icon-shape bg-gradient-success rounded-circle">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h5 class="title text-success">Atendimento/Atividade Presencial</h5>
                                            <p>Reuniões de
                                                apoio, atendimento terapêutico e
                                                atividades similares que acontecem de forma presencial em grupo ou
                                                individualmente</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-2">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div>
                                            <div class="icon icon-shape bg-gradient-success rounded-circle">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h5 class="title text-success">Atendimento/Atividade Virtual</h5>
                                            <p>Apoio e atividades
                                                afins que acontecem virtualmente
                                                através de plataformas de videoconferência, chat, redes sociais,
                                                mensagens via aplicativo etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-2">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div>
                                            <div class="icon icon-shape bg-gradient-success rounded-circle">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h5 class="title text-success">Evento**</h5>
                                            <p>Anuncie seu evento e ajude a manter o
                                                projeto - cursos, workshops, seminários,
                                                aulas, palestras na área da saúde mental voltados para público em geral
                                                seja presencial ou
                                                virtual</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow shadow-lg--hover mt-2">
                                <div class="card-body">
                                    <div class="d-flex px-3">
                                        <div>
                                            <div class="icon icon-shape bg-gradient-success rounded-circle">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h5 class="title text-success">Vagas de Voluntariado</h5>
                                            <p>Aa área que o seu projeto precisa, seja presencial ou virtual</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- QUEM PODE -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>QUEM PODE SE CADASTRAR</h4>
                            <ul>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Serviços do Setor Público, ONGs, psicólogos, terapeutas
                                                holísticos, demais profissionais e
                                                movimentos que realizam ações coordenadas para a saúde mental e
                                                qualidade de vida, que promovam
                                                trabalho de cunho social através de atendimentos de apoio emocional</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Ações sociais cujo atendimento é gratuito ou com valor
                                                social*</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">"Eventos" podem ser gratuitos ou não. Caso o evento não
                                                seja gratuito e for adicionado um link
                                                externo para compra, uma taxa será cobrada pela veiculação da propaganda
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">As vagas de voluntariado os projetos cadastrados na rede de
                                                ajuda do site Franco Amor,
                                                integrando o mapa de ajuda para a saúde mental</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Todos os cadastros serão submetidos a uma análise antes de
                                                ser divulgado no site</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- VOLUNTARIADO -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>VOLUNTARIADO</h4>

                            <p class="lead">Cadastre suas vagas de voluntariado e fortaleça a rede do bem.</p>
                            <ul>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Exclusivo para projetos de apoio à saúde mental e qualidade
                                                de vida cujos atendimentos ou atividades estão cadastrados na rede de
                                                ajuda do site Franco Amor.</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-0">Trabalho voluntário está amparado pela <a
                                                    href="https://www.planalto.gov.br/ccivil_03/leis/l9608.htm"
                                                    target="_blank">LEI Nº 9.608, DE 18 DE FEVEREIRO DE 1998</a>, para
                                                mais
                                                informações disponibilizamos alguns links para conhecimento do assunto.
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- EVENTO -->
        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-12 order-md-1">
                        <div class="pr-md-5" style="text-align: justify;">
                            <h4>EVENTO**</h4>

                            <p class="lead">Anuncie seu evento e ajude a manter o projeto. </p>
                            <p>Divulgamos eventos que tenham afinidade com o propósito do Franco Amor gratuitamente
                                desde que não
                                apresente custo para a participação do interessado.</p>
                            <p>Se não for gratuito, cobraremos uma taxa por esse serviço e assim você ajuda a manter
                                nosso trabalho.
                                Faça seu cadastro aqui, preencha as informações e entraremos em contato.</p>
                        </div>
                        <div class="btn-wrapper text-center">
                            <a routerLink="../registro" class="btn btn-primary mb-3 mb-sm-0 text-white">CADASTRE AQUI
                                SUA AÇÃO
                                SOCIAL OU EVENTO</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>