<main class="main-site">
    <div class="position-relative">

        <section class="section section-shaped">

        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container">

                <h3>CADASTRE SUA AÇÃO SOCIAL DE APOIO À SAÚDE MENTAL, AUMENTANDO A CHANCE DE SER ENCONTRADO POR QUEM
                    PRECISA DE AJUDA E ANUNCIE AS VAGAS DE VOLUNTÁRIOS PARA FORTALECER O SEU PROJETO!</h3>

                <p>O Franco Amor tem como objetivo reunir e divulgar as ações que realizam algum tipo de atendimento
                    social voltado para a saúde mental e qualidade de vida que acolhem emocionalmente pessoas que
                    precisam de apoio em momentos de desafio na vida. E queremos apoiar seu projeto, anunciando as vagas
                    de voluntariado que você precisa para aumentar a rede do bem e de afeto.</p>


                <h3>CADASTRE AQUI SUA AÇÃO SOCIAL OU EVENTO</h3>

                <h4>PLATAFORMA GRATUITA</h4>

                <p>Divulgue gratuitamente a ação social que apoia a saúde mental
                    Cadastre seus projetos que são oferecidos gratuitamente ou a preço social*
                    Anuncie seu evento**
                    Cadastre suas vagas de voluntariado para ajudar seu projeto a auxiliar mais pessoas
                    Cadastre sem limite todas as suas ações / atendimentos e vagas de voluntariado
                </p>


                <h4>TIPOS DE CADASTRO</h4>
                <p>Escolha a melhor forma de divulgar de acordo com o canal de atendimento utilizado</p>

                <p><b>Atendimento Telefônico</b> - serviço de acolhimento emocional por telefone</p>

                <p><b>Atendimento/Atividade Presencial</b> - reuniões de apoio, atendimento terapêutico e atividades
                    similares que acontecem de forma presencial em grupo ou individualmente</p>

                <p><b>Atendimento/Atividade Virtual</b> - apoio e atividades afins que acontecem virtualmente através de
                    plataformas de videoconferência, chat, redes sociais, mensagens via aplicativo etc</p>

                <p><b>Evento**</b> anuncie seu evento e ajude a manter o projeto - cursos, workshops, seminários, aulas,
                    palestras na área da saúde mental voltados para público em geral seja presencial ou virtual</p>

                <p><b>Vagas de Voluntariado</b> na área que o seu projeto precisa seja presencial ou virtual</p>


                <h4>PODE SE CADASTRAR</h4>
                <p>Serviços do Setor Público, ONGs, psicólogos, terapeutas holísticos, demais profissionais e movimentos
                    que realizam ações coordenadas para a saúde mental e qualidade de vida, que promovam trabalho de
                    cunho social através de atendimentos de apoio emocional</p>

                <p>Ações sociais cujo atendimento é gratuito ou com valor social*</p>

                <p>"Eventos" podem ser gratuitos ou não. Caso o evento não seja gratuito e for adicionado um link
                    externo para compra, uma taxa será cobrada pela veiculação da propaganda</p>

                <p>As vagas de voluntariado os projetos cadastrados na rede de ajuda do site Franco Amor, integrando o
                    mapa de ajuda para a saúde mental</p>

                <p>Todos os cadastros serão submetidos a uma análise antes de ser divulgado no site</p>


                <h4>VOLUNTARIADO</h4>
                <p>Cadastre suas vagas de voluntariado e fortaleça a rede do bem.</p>

                <p>Exclusivo para projetos de apoio à saúde mental e qualidade de vida cujos atendimentos ou atividades
                    estão cadastrados na rede de ajuda do site Franco Amor.</p>

                <p>Trabalho voluntário está amparado pela LEI Nº 9.608, DE 18 DE FEVEREIRO DE 1998, para mais
                    informações
                    disponibilizamos alguns links para conhecimento do assunto.</p>

                <h4>CADASTRE AQUI VAGAS DE VOLUNTARIADO PARA SEU PROJETO</h4>

                <h4>EVENTO**</h4>
                <p><b>Anuncie seu evento e ajude a manter o projeto</b></p>
                <p>Divulgamos eventos que tenham afinidade com o propósito do Franco Amor gratuitamente desde que não
                    apresente custo para a participação do interessado.
                </p>
                <p>Se não for gratuito, cobraremos uma taxa por esse serviço e assim você ajuda a manter nosso trabalho.
                    Faça seu cadastro aqui, preencha as informações e entraremos em contato.</p>


                <h4>CADASTRE AQUI SUA AÇÃO SOCIAL OU EVENTO</h4>
            </div>
        </section>
    </div>
</main>