main {
    /* The image used */
  background-color: #cccccc;
  background-image: url("../../assets/img/francoAmor/francoamorsite2.jpg");

  /* Full height */
  height: -moz-calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}