<main class="main-admin">
    <section class="section section-shaped"> </section>

    <section class="section section-shaped bg-secondary">
        <div class="container pt-lg-md">
            <h3>Manter Voluntário</h3>
            <hr>

            <form>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome completo">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card-profile-image" (click)="openModal(classicLogo)">
                            <a href="javascript:void(0)">
                                <img src="./assets/img/francoAmor/voluntario3.png" class="rounded-circle"
                                    style="width: 100px;">
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="rodape">
                    <button type="button" class="btn btn-outline-light btnVoltar" (click)="voltar()">Voltar</button>
                    <button type="button" class="btn btn-outline-success btnSalvar" (click)="salvar()">Salvar</button>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- Modal Foto -->
<ng-template #classicLogo let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Selecionar foto</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="DocUpload($event)">
            </angular-file-uploader>
        </div>
    </div>
</ng-template>