<section class="section section-shaped bg-secondary">
    <div class="container">

        <div class="row" style="display: flow-root;">
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novaPostagem()">
                <i class="ni ni-fat-add"></i> Postagem</button>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Título da postagem" name="titulo"
                        [(ngModel)]="filtro.titulo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Autor</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="Autor da postagem" name="autor"
                        [(ngModel)]="filtro.autor">
                </div>
            </div>
            <div class=" col-md-1" style="padding-top: 2rem;">
                <button class="btn btn-icon btn-2 btn-outline-light" type="button" (click)="filtrar()">
                    <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of postagens; let i = index">
                    <td>{{item?.titulo}}</td>
                    <td>{{item?.autor}}</td>
                    <td>{{item?.data | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ativoSwitch{{i}}"
                                [(ngModel)]="item.ativo">
                            <label class="custom-control-label" for="ativoSwitch{{i}}">{{item.ativo?
                                'Ativo':'Inativo'}}</label>
                        </div>
                    </td>
                    <td class="btn-editar"><a (click)="irParaManterPostagem(item)"><i
                                class="ni ni-settings-gear-65"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</section>