<main class="main-site">
    <section class="section section-shaped">

    </section>

    <section class="section section-shaped bg-secondary">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h3>Quero Ajudar</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Instituição</label>
                        <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                            [(ngModel)]="cidade">
                    </div>
                </div>
                <div class="col-md-1" style="padding-top: 2rem;">
                    <button class="btn btn-icon btn-2 btn-outline-light" type="button">
                        <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Vagas para voluntários
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="https://picsum.photos/200?random=12"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Caçadores do Leão</h5>

                                    <div class="text-muted">
                                        ASCOMSER
                                    </div> <br>

                                    <p class="card-text">Breve descrição.</p>
                                    <button type="button" class="btn btn-outline-info btn-sm"
                                        routerLink="../veja-mais">Saiba mais</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="https://picsum.photos/200?random=11"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Palestra D</h5>

                                    <div class="text-muted">
                                        FEAK
                                    </div> <br>

                                    <p class="card-text">Breve descrição.</p>
                                    <button type="button" class="btn btn-outline-info btn-sm"
                                        routerLink="../veja-mais">Saiba mais</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="https://picsum.photos/200?random=10"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Atividade 1</h5>

                                    <div class="text-muted">
                                        Casa de repouso Santa Helena
                                    </div> <br>

                                    <p class="card-text">Breve descrição.</p>

                                    <button type="button" class="btn btn-outline-info btn-sm"
                                        routerLink="../veja-mais">Saiba mais</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="card-img-top" src="https://picsum.photos/200?random=9" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Atividade 3</h5>

                                    <div class="text-muted">
                                        Igreja Santa Rita de Cássia
                                    </div> <br>

                                    <p class="card-text">Breve descrição.</p>
                                    <button type="button" class="btn btn-outline-info btn-sm"
                                        routerLink="../veja-mais">Saiba mais</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>