<main class="main-site">
    <section class="section section-shaped">

    </section>

    <section class="section section-shaped bg-secondary">
        <div class="container">

            <h4>QUERO AJUDAR</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Instituição</label>
                        <input type="text" class="form-control" id="cnpj" placeholder="Instituição responsável">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade"
                            [(ngModel)]="cidade">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button class="btn btn-icon btn-2 btn-outline-light" type="button">
                        <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h4 class="header">
                        VAGAS PARA VOLUNTÁRIOS
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of vagas; let i = index">
                    <div class="flip-card" (click)="irParaVejaMais()">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="card-img-top" src="https://picsum.photos/200?random={{i}}">
                                <!-- <span class="badge badge-primary" routerLink="../quero-ajudar">Vaga para
                                    voluntários</span> -->
                                    <h4>{{item.nome}}</h4>
                                <h5>Juiz de Fora</h5>
                            </div>
                            <div class="flip-card-back">
                                <h5>Horario:</h5>
                                <h6 *ngFor="let hr of item.horaAtendimento">{{hr.diaSemana}}: {{hr.horaInicio}} -
                                    {{hr.horaFim}}</h6>
                                <p class="resumo-card">{{item.observacao}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>