<main class="main-site">
    <section class="section section-shaped">

    </section>

    <section class="section section-shaped bg-secondary">

        <div class="container">

            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="#">Psicologia</a>
                    <a class="p-2 text-muted" href="#">Estilo de Vida</a>
                    <a class="p-2 text-muted" href="#">Ecologia</a>
                    <a class="p-2 text-muted" href="#">Saúde Holística</a>
                </nav>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Psicologia</strong>
                            <h3 class="mb-0">A importância da Psicologia</h3>
                            <div class="mb-1 text-muted">Setembro, 2020</div>
                            <p class="card-text mb-auto">Um profissional de psicologia consegue desenvolver diversas
                                funções essenciais para ajudar as pessoas em tempos tão difíceis como este que estamos
                                presenciando em nossa sociedade.</p>
                            <a href="#" class="stretched-link">Continue lendo..</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="https://picsum.photos/200/300?random=1" alt="" width="200" height="400" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Ecologia</strong>
                            <h3 class="mb-0">Ecologia, Epidemiologia e o valor da Ciência</h3>
                            <div class="mb-1 text-muted">Setembro, 2020</div>
                            <p class="mb-auto">Muitas informações começam a circular sobre a expansão da doença e muitos
                                estão utilizando seus conhecimentos de estatística e computação na...</p>
                            <a href="#" class="stretched-link">Continue lendo..</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="https://picsum.photos/200/300?random=2" alt="" width="200" height="400" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <h3 class="pb-4 mb-4 font-italic border-bottom">
                        Postagens
                    </h3>

                    <div class="blog-post">
                        <h2 class="blog-post-title">Visão holística da saúde</h2>
                        <p class="blog-post-meta">03 de Agosto de 2020 por
                            <a href="https://www.eusemfronteiras.com.br/autor/tereza-gurgel/">Tereza Gurgel</a>
                        </p>

                        <p>
                            ideia de saúde holística abrange uma diversidade de fatores que contribuem para o bom
                            funcionamento do organismo. Sabemos que não temos apenas este corpo físico, mas somos
                            compostos por várias “camadas” (ou aspectos), que constituem os “corpos sutis”: emocional,
                            mental e espiritual.
                        </p>
                        <p>
                            De modo bem resumido, a saúde também depende de outros aspectos, como a suscetibilidade
                            genética e a exposição a agentes patogênicos e poluentes. Todos estes fatores devem ser
                            levados em conta ao cuidarmos do nosso bem-estar, um complementa o outro. Bons hábitos,
                            persistência e disciplina são pilares importantes para fortalecer nossa saúde. A dieta
                            alimentar deve ser analisada com muito critério e cuidado, pois retiramos dos alimentos o
                            nosso “combustível” para viver.
                        </p>
                        <p>
                            Isto implica em uma profunda modificação de antigos hábitos, transformando completamente –
                            com o adequado acompanhamento médico e nutricional – nosso estilo de vida.
                        </p>

                        <img src="https://picsum.photos/600/400?grayscale" alt="" />
                    </div>

                    <nav class="blog-pagination">
                        <a class="btn btn-outline-primary" href="#">Mais antigos</a>
                        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Mais
                            novos</a>
                    </nav>

                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">

                    <div class="p-4">
                        <h4 class="font-italic">Arquivo</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">Setembro 2020</a></li>
                            <li><a href="#">Agosto 2020</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </main><!-- /.container -->
    </section>
</main>