<section class="section section-shaped bg-secondary">
    <div class="container">

        <div class="row" style="display: flow-root;">
            <button type="button" class="btn btn-outline-success btnNovo" (click)="novoProduto()">
                <i class="ni ni-fat-add"></i> Produto</button>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Produto</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome do produto" name="nome"
                        [(ngModel)]="filtro.nome">
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 2rem;">
                <button class="btn btn-icon btn-2 btn-outline-light" type="button" (click)="filtrar()">
                    <span class="btn-inner--icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of produtos; let i = index">
                    <td>{{item?.nome}}</td>
                    <td>{{item?.valor}}</td>
                    <td>{{item?.estoque}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ativoSwitch{{i}}"
                                [(ngModel)]="item.ativo">
                            <label class="custom-control-label" for="ativoSwitch{{i}}">{{item.ativo?
                                'Ativo':'Inativo'}}</label>
                        </div>
                    </td>
                    <td class="btn-editar"><a (click)="irParaManterProduto(item)"><i
                                class="ni ni-settings-gear-65"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</section>