<section class="section section-shaped bg-secondary">
    <div class="container">
        <button type="button" class="btn btn-outline-success btnNovo" (click)="novoProduto()">
            <i class="ni ni-fat-add"></i> Produto</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of produtos">
                    <td>{{item?.nome}}</td>
                    <td>{{item?.valor}}</td>
                    <td>{{item?.estoque}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>