
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quicksand:wght@300;500&display=swap');

html,body {
    height:100% !important;
    padding:0;
    font-family: 'Quicksand', sans-serif !important;
}

.main-site{
   /* The image used */
   background-color: #cccccc;
   background-image: url("assets/img/francoAmor/francoamorsite3.png");
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   color: black;
   font-weight: 300;
}

.main-admin{
    background-color: #1da1f2;
}

.main-blog{
    background-color: #20c997;
}

.btnNovo{
    float: right;
    margin-bottom: 1em;
}

.btnVoltar{
    float: left;
}

.btnSalvar{
    float: right;
}

.mb-3:not(:first-child){
    margin-left: 10px;
    margin-right: 0;
}

.campoCep{
    margin-left: 0;
    margin-bottom: 15px;
}

/* Modal imagens */
.afu-dragndrop-box{
    width: 100% !important;
}
.afu-select-btn{
    width: 30% !important;
}
.afu-reset-btn{
    float: right;
    margin-right: 0 !important;
    width: 30% !important;
}
.afu-upload-btn{
    margin: 0 auto !important;
    width: 100% !important;
}

/* Botoes */

.btn-acao-azul {
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-acao-azul:hover {
    color: #3b5999;
    border-color: #fff;
    background-color: #fff;
    cursor: pointer;
}

.btn-acao-verde {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-acao-verde:hover {
    color: #009688;
    border-color: #fff;
    background-color: #fff;
    cursor: pointer;
}