/* You can add global styles to this file, and also import other style files */
html,body {
    height:100%;
    padding:0;
    margin:0;
}

.main-site{
   /* The image used */
   background-color: #cccccc;
   background-image: url("assets/img/francoAmor/francoamorsite2.jpg");
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.main-admin{
    background-color: #1da1f2;
}

.main-blog{
    background-color: #20c997;
}

.btnNovo{
    float: right;
    margin-bottom: 1em;
}

.btnVoltar{
    float: left;
}

.btnSalvar{
    float: right;
}

.mb-3:not(:first-child){
    margin-left: 10px;
    margin-right: 0;
}

/* Modal imagens */
.afu-dragndrop-box{
    width: 100% !important;
}
.afu-select-btn{
    width: 30% !important;
}
.afu-reset-btn{
    float: right;
    margin-right: 0 !important;
    width: 30% !important;
}
.afu-upload-btn{
    margin: 0 auto !important;
    width: 100% !important;
}