/* You can add global styles to this file, and also import other style files */
html,body {
    height:100%;
    padding:0;
    margin:0;
}

.main-site{
   /* The image used */
   background-color: #cccccc;
   background-image: url("assets/img/francoAmor/francoamorsite2.jpg");
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.main-admin{
    background-color: #1da1f2;
}

.btnNovo{
    float: right;
    margin-bottom: 1em;
}

.btnVoltar{
    float: left;
}

.btnSalvar{
    float: right;
}