<footer class="footer"
  [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/registro' && getPath()!=='/login'}">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-2">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a routerLink="./contato">Franco Amor</a>.
        </div>
      </div>
      <div class="col-md-10">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a class="nav-link" routerLink="./quem-somos">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./cadastre-acao">Cadastre sua ação social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./doacao">Doação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./faq">Ajuda</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>