<main>
    <div class="position-relative">
        <section class="section section-shaped">

            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>

            <div class="container"></div>
        </section>

        <section class="section section-shaped bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 order-md-1">
                        <div class="pr-md-5">
                            <h3>Produtos e Serviços</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>